<div class="header">
    <div class="search"><input type="text" id="search" placeholder="Search" /><div id="btnSearch"><img src="resources/layout/btnSearch.png" width="33" height="30" alt="Search button" /></div></div>
    <div class="newsboard"><img src="resources/temp/notifications.png" width="60" height="52" alt="notifications" /><img src="resources/temp/inbox.png" width="60" height="52" alt="inbox" /><img src="resources/temp/calendar.png" width="51" height="52" alt="calendar" /></div>
    <div id="logo"></div>
    <div class="profile">
    <div id="picture"><img src="resources/temp/picture.png" width="51" height="50" alt="profile picture" /></div><div id="stars"><img src="resources/temp/starsystem.png" width="79" height="53" alt="stars" /></div><ul><li class="fullname">John Smith</li><li class="designation">Explorer</li></ul></div>     
    <hr id="hr1" /><hr id="hr2" />
</div>