@charset "utf-8";
/* CSS Document */

.breadcrumbs {
	height: 4.1666666666666666666666666666667%;
	margin:16px;	
}

.breadcrumbs > #home{
	display: inline-block;	
}

.crumb{
	display: inline-block;	
	font-family: open_sanssemibold;
	/*font-size: 18pt;*/
	line-height: 32px;
	color: #fff;
	margin: 0 0 0 -7px;
}

.crumb > ul > li:nth-child(1) {
	background-image:url(../../resources/layout/BCstartArrow.svg);
	background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 15px;
}

.crumb > ul > li:nth-child(2) {
	background-color:#00B1E6;
	display: inline-block;
	padding: 0 7px;
	vertical-align:top;
}

.crumb > ul > li:nth-child(3) {
	background-image:url(../../resources/layout/BCendArrow.svg);
	background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 15px;
}