@charset "utf-8";
/* CSS Document */
.wrapper {
	background:#CCC;
}

.header {
	background:#fff;
}

.breadcrumbs {
	/*background:#666;*/
}

.content {
	background-color:transparent;
}

.footer {
	background:#939;
}

.column1 {
	/*background:#636;*/
}

.column2 {
	background:#3C6;
}

.column3 {
	background:#3C6;
}

.column_transparent {
	background:#CCC;
}

.column_white {
	background:#FFF;
}

ul.cloudTags > li.cloudTagsColour1 {
	background: none no-repeat scroll 0 0 #5D9BEB;
}

ul.cloudTags > li.cloudTagsColour2 {
	background: none no-repeat scroll 0 0 #9FD365;
}

ul.cloudTags > li.cloudTagsColour3 {
	background: none no-repeat scroll 0 0 #F96F52;
}
