@charset "utf-8";
/* CSS Document */

.header {
	box-shadow: 0 0 15px 0 black;
	height:12.5%;
}

#logo {
	background: url(../../resources/layout/logo.jpg) no-repeat;
    -webkit-background-size: 100%; /* For WebKit*/
    -moz-background-size: 100%;    /* Mozilla*/
    -o-background-size: 100%;      /* Opera*/
    background-size: 100%;         /* Generic*/
	width:22%;
	height:92%;
	display:inline-block;
}

.profile {
	display: inline;
	vertical-align: top;
}

.profile > div {
	display: inline-block;
	margin: 18px 5px 0;
	vertical-align: top;
}

.profile > ul {
	display: inline-block;
	margin: 18px 5px 0;
	vertical-align: top;
}

.fullname{
	color: #17b0e4;
    font-size: 18pt;
    font-family: open_sansbold;
}

.designation{
	color: #FFA21A;
    font-size: 16pt;
	line-height: 10pt;
	font-family: open_sanssemibold;
}

.header > #hr1 {
	height: 4%; 
	background-color: #FF881D;
}

.header > #hr2 {
	height: 4%; 
	background-color: #FFA21A;
}

.search{
	float: right;
	margin: 3% 2% 0 0;
}

#search{
	border-color: #17b0e4;
    border-radius: 14px 0 0 14px;
    border-style: solid;
    display: inline;
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 0 10px;
	vertical-align: top;
	width: 140px;
}

.newsboard{
	float: right;
	margin: 2% 1% 0 0;
}

.newsboard > img{
    padding-right: 10px;
}

#btnSearch{
	 display: inline;
    vertical-align: top;
}
