@charset "utf-8";
/* CSS Document */

ul.menu {
	background-color: #333;
    /*padding-top: 4px; *//** SAME AS MARGIN BOTTOM OF .MENU > LI **/
}

.menu > li{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #424242; /** SAME AS UL.SUBMENU > LI:FIRST-CHILD BACKGROUND COLOUR **/
	background-image: none;
/*    border-color: #333 -moz-use-text-color;*/
    border-image: none;
/*    border-style: solid none;
    border-width: 2px 0;*/
    color: #fff;
	display: block;
    float: none;
	/*font-size: 13pt;*/
	height: auto;
    margin-bottom: 4px; /** SAME AS PADDING TOP OF UL.MENU **/
    padding: 10px 25px;
	width: auto;
	cursor:pointer;
}

.menu > li > span {
	float: right;
	margin-right: -10px;
	color: #FFC615;
	background: #5B5B5B;
	padding: 0px 12px 0px 12px;
	border-radius:  10px;
	
}

.menu li:nth-child(2n) {
    margin-left: 0;
}

ul.submenu > li:first-child {
	color: #82C330;
	border-left:12px solid;	
	border-left-color:#424242; /** SAME AS .MENU > LI BACKGROUND COLOUR **/
    font-weight: bold;
}

ul.submenu > li:first-child  {
	padding-left: 10px;
}

ul.submenu > li  {
	padding-left: 20px;                 /** padding-left+border-left = 32px **/
    border-left: 12px solid #424242;    /** SAME AS .MENU > LI BAckGROUND COLOUR **/
}

ul.submenu > li.selected {
	background-color:#5B5B5B;
	border-left-color:#F96F52;
}

ul.submenu > li:hover, ul.menu > li:hover {
	background-color:#5B5B5B;
	border-left-color:#5B5B5B;
}

.menu > li:hover > span {
	background-color:#424242;
}

ul.submenu > li.selected:hover, ul.menu > li.selected:hover {
	background-color:#5B5B5B;
	border-left-color:#F96F52;
}

.nonCollapse > li {
	font-size: 12pt;
}

ul.nonCollapse > li {
    padding-left: 25px;
}

ul.nonCollapse > li:first-child {
    padding-left: 25px;
	color: #fff;
}

ul.nonCollapse > li.selected {
/*	 padding-left: 25px;*/
}