@charset "utf-8";
/* CSS Document */

.column1 {
        box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
        position: relative;
    overflow: hidden;
}



.column1:before {
    border-color: #CCC #888 #888 #CCC;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);    
    content: "";
    position: absolute;
    right: 0;
    width: 0;
}

.ranking_view_choices {
    margin-left: 36px;
    margin-top: 52px;
}

.ranking_view_choices li{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    font-size: 16pt;
    height: auto;
	line-height: 18pt;
    list-style: outside none none;
    margin-bottom: 0;
    padding-right: 40px;
    width: auto;
}

.ranking_view_choices li:nth-child(2n) {
    margin-left: 0;
}

.ranking_view_choices > ul {
    display: block;
}

.splitVinside > div + div {
    width: 740px;
}

.splitVinside > div > div + div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ranking_totals {
    padding-left: 156px;
}

.ranking_totals > div {
    background-color: yellow;
    border: medium none;
    border-radius: 120px;
    color: white;
    display: inline-block;
    height: 75px;
    line-height: 18px;
    margin-right: 26px;
    padding-top: 35px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
}

.ranking_totals > div:nth-child(1) {
    background-color: #1774BA;
}

.ranking_totals > div:nth-child(2) {
    background-color: #17BA55;
}

.ranking_totals > div:nth-child(3) {
    background-color: #DB8B1B;
}

.ranking_totals > div > span:nth-child(1) {
    font-family: open_sansbold;
    font-size: 20pt;
    padding-top: 38px;
}

.ranking_totals > div > span:nth-child(3) {
    font-size: 9pt;
}

.rankings {
	padding-left: 25px;
    padding-top: 40px;
	width: 700px !important;
}

.rankings ul {
    width: 670px;
}

.rankings li{
	background: none repeat scroll 0 0 #424242;
    font-size: 12pt;
    height: 40px;
	line-height: 40px;
/*    list-style: outside none none;*/
    margin-bottom: 0;
    width: auto;
}

.rankings li:nth-child(2n), .awards li:nth-child(2n), .achievements li:nth-child(2n) {
    margin-left: 0;
}

.rankings > ul > li {
	 margin-bottom: 8px;
}

.rankings div{
    display: inline-block;
	vertical-align: top;
	width:auto;
}

.rankings img {
    height: 40px;
}

.rankings .ranking_star {
	font-size: 28pt;
	-ms-transform: scale(0.3, 0.3); /* IE 9 */
    -webkit-transform: scale(0.3, 0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3, 0.3);
	-ms-transform-origin: left top; /* IE 9 */
    -webkit-transform-origin: left top; /* Chrome, Safari, Opera */
    transform-origin: left top;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
     width: 311% !important;
}

.rankings .ranking_star > #level {
   margin-left: -55%;
   margin-top: 25%;
}

.rankings > ul > li > ul > li:nth-child(1){
	width: 6%;
}

.rankings > ul > li > ul > li:nth-child(2){
	width: 9%;
}

.rankings > ul > li > ul > li:nth-child(3){
		width: 25%;
}

.rankings > ul > li > ul > li:nth-child(4){
		width: 27%;
}

.rankings > ul > li > ul > li:nth-child(5){
		width: 12%;
}

.rankings > ul > li > ul > li:nth-child(6){
		width: 11%;
}

.rankings > ul > li > ul > li:nth-child(7){
		width: 10%;
}

.rankings .job_description, .rankings .XP {
	font-size: 8pt !important;
}

.rankings .designation {
	font-size: 8pt !important;
}

.rankings .fullname, .rankings .numbering {
	font-size: 10pt !important;
}

.rankings .numbering {
	background-color: white;
}

.awards li, .achievements li{
	background: none repeat scroll 0 0 #424242;
    display: block;
    float: none;
    height: auto;
    margin-bottom: 0;
	width:auto;
}

.achievements > ul > li{
	padding-top: 32px;
}

.awards > ul > li{
	padding-top: 16px;
	padding-bottom: 16px;
}

.awards > ul > li, .achievements > ul > li {
    font-family: open_sansbold;    
	padding-left:16px;
	background-color: white;
}

.awards > ul > li:nth-child(1), .achievements > ul > li:nth-child(1){
	color: #ffcf17;
	background-color: #424242;
	line-height: 48px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.achievements > ul > li:last-child{
	padding-bottom: 16px;
}

.awards, .achievements {
    border: 2px solid #8e8e8e;
    width: 376px !important;
	margin-top:16px;
}

.achievements {
	margin-left: 16px;
	vertical-align: top;
    width: 320px !important;	
}

.awards div {
    display: inline-block;
    vertical-align: top;
    width: auto;
	padding: 16px;
	font-family: open_sanssemibold;
}

.awards img {
    padding: 16px;
}

.rate {
	font-family: open_sanssemibold;
}

.achievements div {
    width: auto;
}
	
.performance_tiles {
	margin-bottom: 0 !important;
    padding-top: 24px;
}

.performance_tiles li {
	 border: 2px solid #8e8e8e;
    width: 352px;
}

.performance_tiles img{
	border-right: 8px solid #f96f52;
	vertical-align: top;
}


.performance_tiles div {
    display: inline-block;
    font-family: open_sansbold;
    height: auto;
    line-height: 96px;
	padding-left: 16px;
    width: auto;
}

.performance_chart {
    padding-left: 16px !important;
}

.performance_creativity {
    padding-left: 48px !important;
	padding-top: 32px !important;
    vertical-align: top;
    width: 340px !important;
}

.performance_creativity span {
    font-family: open_sansbold;
}

.performance_creativity > div {
    display: inline-block;
    line-height: 30px;
    padding-left: 16px;
    padding-top: 32px;
    text-align: center;
    vertical-align: top;
    width: auto;
}

.performance_creativity > div > span:nth-child(3) {
    font-family: open_sansregular;
}

.cloudTags {
    clear: both;
    padding: 16px 16px 8px 8px;
	color: white;
}

ul.cloudTags > li {
	float:none;
	margin:0;
	height:auto;
	width:auto;
}

ul.cloudTags > li:nth-child(2n) {
	float:none;
	margin:0;
	height:auto;
	width:auto;	
}

ul.cloudTags > li, ul.cloudTags > li:nth-child(2n) {
	/* background-color: #1FBCFF;*/
    margin-left: 8px;
    padding: 0 16px;
    margin-bottom: 8px;
}

