@charset "utf-8";
/* CSS Document */
body  {
	background-color:#000;
	font-family: open_sansregular;
}

.wrapper {
	width:1024px;
	height: 768px;
	margin:auto;
}

.content {
	height:70.833333333333333333333333333333%;
}

.content > div {
	display:inline-block;
	height:100%;
	margin-left: 16px;
	vertical-align:top;
}

.footer {
	height: 4.1666666666666666666666666666667%;
	margin:16px;
}

.column1 {
	width:96.875%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
