@charset "utf-8";
/* CSS Document */


/*Column titles*/
.column_title{
	background-color: #898989;
    border-bottom: 4px solid #333333;
    color: #fff;
    font-family: open_sansbold;
    font-size: 18pt;
    padding: 6px 18px;
}

/*1a*******************************/
.content li {
    list-style: outside none none;
    height: 96px;
    display: inline-block;
    width: 488px;
    background: url("../../resources/temp/picture.png") no-repeat 0% 50% #FFF;
    float: left;
    margin-bottom: 16px;
}
   
.content li:nth-child(even) {
	margin-left:16px;
}

 
/*1b******************************/
.column1.graphTop { 
	background : url("../../resources/temp/picture.png") repeat-x top rebeccapurple;
}


/*2a******************************/
.c432 {
	width:42.1875%;
}

.c544 {
	width:53.125%;
}

/*2b******************************/
.split2  > div {
    display: inline-block;
    width: 100%;
	height: 8.75%;
	margin-bottom:16px;
	background-color:#039;
}

.split2  > div + div {
    display: inline-block;
    width: 100%;
	height: 88.236%;
	background-color:#0F9;	
	margin-bottom:0;
}

.column2.splitH li {
	width:48.96%;
}

.column2.splitH li:nth-child(1) {
	width:100%;
	height:208px;
	border:none;
	background:white;
}

.column2.splitH li:nth-child(2n) {
	margin-left:0px;
    margin-right: 16px;
}

/*2c******************************/
.column2 li {
	width:48.96%;
	background:white;
}

/*2d******************************/ /*****THIS DOES NOT APPLYT TO 2d AT THE MOMENT, IT HAS BECOME 3ca***********/
/*
.column2.splitV li {
	width:48.96%;
}

.column2.splitV li:nth-child(1) {
	width:60%;
	height:100%;
	border:none;
	background:white;
}

.column2.splitV li:nth-child(2n) {
	margin-left:0px;
    margin-right: 16px;
}*/
.column2.splitV li {
	width:100%;
	margin-left:0;
	background: url("../../resources/temp/picture.png") no-repeat 0% 50% #FFF;
	height:64px;
}

.column2.splitV li:last-child {
	margin-top:16px;
	background:white;
	height:208px;
}

.column1.graphTop {
	background : url("../../resources/temp/picture.png") repeat-x top rebeccapurple;
}

.column1.graphTop > span {
	position:relative;
	display:inline-block;
	top:336px;
	width:100%;
	height:208px;
	background:#930;
}

/*3b******************************/
.c376 {
	width:36.71875%;
}

.column3.short {
	height:320px;
}

.news li{
	background-image: none;
	display: block;
    float: none;
	height: auto;
    width: 100%;
	color: #484848;
	position:relative;
}


.news li:nth-child(2n) {
    margin-left: 0;
}

/*1c******************************/
.splitVinside div {
	width:208px;
	height:100%;
}

.splitVinside > div {
    display: inline-block;
	vertical-align: top;
}

.splitVinside > div + div {
	margin-left: 32px;
}

.splitVinside > div > div {
    display: inline-block;
	height: 48.55%;
	margin-bottom:16px;
	background-color:#039;
}

.splitVinside > div + div > div {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    width: auto;
}

.splitVinside > div > div + div {
    display: inline-block;
	height: auto;
	background-color:#0F9;	
	margin-bottom:0;
}

.splitVinside > div + div > div + div {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    width: auto;
}

.bold_me{
	font-family: open_sansbold;
}
	
/*3a******************************/
.column3 li {
	width:100%;
}
.column3 li:nth-child(2n) {
	margin-left:0;
}

/*MORE****************************/

.job_description {
	color: white;
	font-family: open_sansbold;
}

.XP {
	color: #FFD017;
	font-family: open_sansbold;
}

.ranking{
	background-color: #424242;	
}

.ranking_star {
	background: url("../../resources/graphics/ranking_star.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: white;
    display: block;
    font-size: 38pt;
    font-weight: bold;
    height: auto !important;
    line-height: 90pt;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    width: 100% !important;
}

.numbering {
	color: black;
	font-family: open_sansbold;
	text-align: center;
}

.ranking > .designation {
	height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	
}

.ranking_bar {
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 70% !important;
}

.ranking_XP {
    color: white;
    font-size: 8pt;
    font-weight: bold;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    width: 67% !important;
}

input.css-checkbox[type="radio"] {
    display: none;
}

label.css-label {
    -moz-user-select: none;
    background-image: url("../../resources/graphics/option_unselected.png");
	background-position: right center;
}	

input.css-checkbox[type="radio"]:checked + label.css-label {
    background-image: url("../../resources/graphics/option_selected.png");
	background-position: right center;
}

input.css-checkbox[type="radio"] + label.css-label {
    background-repeat: no-repeat;
    color: #455560;
    cursor: pointer;
    display: block;
    padding-right: 30px;
    vertical-align: middle;
}