@charset "utf-8";
/* CSS Document */


.landing > li {
    display: inline-block;
    float: none;
    font-size: 17px;
    height: auto;
    margin-bottom: 0;
    width: auto;
}


.landing li:nth-child(2n) {
    margin-left: 0;
}

.landing div {
    display: inline-block;
	padding: 20px 0 0;
    vertical-align: top;
}

.landing > li > div > span:nth-child(1) {
    font-size: 37.5px;
	font-family: open_sansbold;
}

.landing > li > div > span:nth-child(2) {
    padding: 0 10px 0 10px;
}

.landing > li > div > span:nth-child(3) {
    display: block;
	margin: -10px 0 0;
}

.column2 {
    background-color: #fff;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

.news {
	font-size: 8pt;
    height: 463px;
    overflow: auto;
    padding: 16px;
	 position: relative;
    top: 0px;
    left: 0px;
}


.news div {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    width: 190px;
}


.news div > span:nth-child(1) {
    font-family: open_sansbold;
    font-size: 10pt;
	color: #000;
}

.news .date {
    width: 44px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.column3 {
    background-color: #fff;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);        
}