@charset "utf-8";
/* CSS Document */
p {
    margin-left: 96px;
}

.column1, .wrapper {
	background:#CCC;
}

.column1 > ul > li {
	background:url(../../resources/graphics/bookpage.svg) #424242 no-repeat;
}

.column1 > ul > li:nth-child(3), .column1 > ul > li:nth-child(4) {
	background:url(../../resources/graphics/bookopen.svg) #424242 no-repeat;
}


.column1 > ul > li {
	background-color:#424242;
	box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
	-webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);	
}

.column1 > ul > li > p {
	color:#FFF;
	font-family: open_sansbold;
}

.column1 > ul > li > p:first-child{
	margin-top: 8px;
}


.column1 > ul > li > p + p {
	color:#FFD017;
	font-family: open_sansregular;
}

.column1 > ul > li > p + p + p {
		color:#FFF;
		font-family: open_sansregular;
}

.column1 > ul > li > p + p + p > span{
	color:#17B0E4;
	font-family: open_sansbold;
}
