@charset "utf-8";
/* CSS Document */

.header {
	box-shadow: 0 0 15px 0 black;
	height:200px;
}

.header > img{
	padding-bottom: 24px;
    padding-left: 344px;
    padding-top: 40px;
    position: relative;
}

.header > #hr1 {
	height: 4px; 
	background-color: #FF881D;
	position:absolute;
	top: 200px;
	left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
	width:1024px;
}

.header > #hr2 {
	height: 4px; 
	background-color: #FFA21A;
	position:absolute;
	top: 204px;
	left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
	width:1024px;
}

.login_form > p {
	font-family: open_sanssemibold;
	text-align: center;
}


.lform {
    background-color: #5b5b5b;
	margin-top: 24px;
    padding: 24px;
    width: 288px;
	box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}

.lform span{
	color: white;
	display:block;	
}

.lform > span:nth-child(3){
	padding-top: 24px;
}


.lform input {
    display: block;
	width: 288px; 
}


.login_form > div:last-child {
    background-color: #ff881d;
    color: white;
    font-family: open_sansbold;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 24px;
    padding: 8px;
    text-align: center;
	box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    transition: background-color 1s ease;
    -webkit-transition: background-color 0.2s ease;
    cursor : pointer;
}

.login_form > div:last-child:hover {
    background-color: #C97132;
}

.content > .login_form {
	display: block;
    height: auto;
	padding-left: 344px;
    padding-top: 96px;
    position: relative;
    width: 336px;
}

.content > .help {
	display: block;
    height: auto;
    margin-left: 40px;
    padding-top: 108px;
}


.help > img {
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}