@charset "utf-8";
/* CSS Document */
.column2, .column1, .split2 > div + div  {
    background-color: #CCC;
}
.split2 > div {
    background-color: #424242 ;
    color: #ffffff;
	height:auto;
}

.column2 > ul > li > span {
    display: inline-block;
}

.column2 > ul > li > img {
    float: left;
    border-right: 8px solid #82C330;
}

.column2 > ul >  li {
    position: relative;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

.column2 > ul > li:nth-child(2n) > img {
    float: left;
    border-right-color: #f96f52 ;
}

.UnitTitle {
    color: #000;
    font-family: open_sansbold;
}

.UnitDescription {
    color: #000;
    font-family: open_sanssemibold;
}

.UnitRating {
    color: #fbbd24;
    font-family: open_sansbold;
    font-size: 1.68em
}

.UnitStatus {
    color: #bcbcbc;
    font-family: open_sanssemibold;
}

.UnitData {
    padding: 12px 12px 12px 24px;
}

.UnitData > p {
    line-height: 24px;
}

.Ribbon {
    background-color: #f48570;
    color: white;
    left: 0;
    padding-left: 8px;
    position: absolute;
    width: 88px;
    font-family: open_sanssemibold;
}


button {
    border: medium none;
    height: 36px;
    width: 36px;
}

.delete {
    background: url("../../resources/temp/delete.png");
}

.edit {
    background: url("../../resources/temp/edit.png");
}

span.unitEdits  {
    float: right;
    width: 32px;
	padding : 8px 16px 0 0;
}

span.unitEdits  > button {
	margin-bottom:8px;
}

ul.menu.piece > li:first-child {
    background-image : url("../../resources/temp/create.png/");
    color: #82C330;
    padding-left: 46px;
    border-left: 12px solid #424242;
    font-weight: bold;
	margin-bottom: 0;
}

ul.menu.piece > li:first-child:hover {
    background-color:#5B5B5B;
	border-left-color:#5B5B5B;
}