@charset "utf-8";
/* CSS Document */
button {
    border: medium none;
    height: 64px;
    width: 56px;
    background: transparent;
    background-size: 56px 64px;
}

/* reset style*/
.content li {
    list-style: outside none none;
    height: auto;
    display: inline-block;
    width: auto;
    background: none;
    float: none;
    margin: 0;
}

.content > div {
    margin: 0px;
}

.content li:nth-child(2n) {
    margin-left: 0;
}
/* */

.cloudIcons {
    font-family: open_sansregular;
}

ul.cloudIcons:nth-child(1) {
   
}

ul.cloudIcons:nth-child(2) {
   
}

.column1.graphTop {
    background: none repeat scroll 0% 0% transparent;
    background-color: white;
    height: auto;
    padding: 16px;
    width: 94%;
    margin-left: 16px;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    position: relative;
    overflow: hidden;
}

.column1.graphTop:before {
    border-color: #CCC #888 #888 #CCC;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);    
    content: "";
    position: absolute;
    right: 0;
    width: 0;
}

.column1.graphTop:after {
    border: 4px solid #ccc;
    content: "";
    position: absolute;
    width: 102%;
    left: -10px;
    top: 33.1%;
     box-shadow: 4px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.column1.graphTop > div {
    background-color: #FFF;
    display: block;
}


.column1.graphTop > div:first-child > img {

}

.column1.graphTop > div:first-child {
    position: relative;
    content: "";
} 

.column1.graphTop > div:first-child::after {
    content: url('../../resources/temp/myprofile_photo_change_pen.png');
    position: absolute;
    top: 122px;
    left: 0px;
}

.column1.graphTop > div > span {
    margin-left: 32px;
    margin-right: 10px;
}

.column1.graphTop > div > span:last-child > p:last-child {
    margin-top: 16px;
}

.column1.graphTop > div:nth-child(2) {
    /*border-top: 4px solid #ccc;*/
}

.column1.graphTop > div:first-child {
     width: 100%;
    background:black;
    color: white;
}

.column1.graphTop > div:first-child:before {
content: "";
    position: absolute;
    border-top: 17px solid black;
    border-left:  17px solid black;
    border-right:  17px solid black;
    width: 100%;
    height: 100%;
    top: -16px;
    left: -17px
}

.column1.graphTop > div:first-child > span:nth-child(3) {
     width: 60%;
}


.column1.graphTop > div >  div:nth-child(1)    {
     display: inline-block;
     width: 70%;
    vertical-align: top;
    overflow-y: scroll;
}

.column1.graphTop > div > div:nth-child(2)    {
    display: inline-block;
    width: 28%;
    padding-left: 16px;
}

span {
    display: inline-block;
    vertical-align: top;
}

ul.menu_c {
    color: #fff;
    margin-top: 16px;
}

ul.menu_c  > li {
    background-color : #424242;
    height: 56px;
    width: 100%;
    vertical-align: middle;
    line-height: 50px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}

ul.menu_c  > li p {
    display: inline-block;
    
}

ul.menu_c  > li img {
    float: left;    
    margin-right: 16px;
}

p.title {
    font-family: open_sanssemibold;
    margin-bottom: 16px;
    margin-top: 16px;
}


p.title::after, p.titleL1::After {
    content : url(../../resources/temp/myprofile_red_pen.png);
    margin-left: 10px;
}

p.titleL1 {
    font-family: open_sansbold;
    margin-bottom: 16px;
}


p.titleL1 > span {
    font-family: open_sanssemibold;
    font-size: 0.9em;
}

p.noedit::after {
    content: "";
}

p.item {
    font-family: open_sansbold;
}

p.times {
    font-family: open_sansregular;
}

ul.cloudTags > li, ul.cloudIcons > li {
    float: none;
    margin: 0px;
    height: auto;
    width: auto;
}

ul.cloudTags > li, ul.cloudTags > li:nth-child(2n) {
    background-color: #1FBCFF;
    margin-right:  8px;
    padding: 8px 10px;
    margin-bottom: 8px;
}


ul.xp > li:nth-child(2n+1) {
    width: 530px;
}

ul.xp > li:nth-child(2n) {
   text-align: right;
    width: 100px;
}

.fullname {
    color: #17B0E4;
    font-family: open_sansbold;
}

.designation {
    color: #FFA21A;
    line-height: 10pt;
    font-family: open_sanssemibold;
}

.followrs {
	bottom: 0;
    color: #1fbcff;
    font-family: open_sanssemibold;
    position: relative;
}

.ranking_star {
	color: #fff;
    font-size: 38pt;
    font-weight: bold;
    height: 88px !important;
    line-height: 66pt;
    transform: scale(0.8, 0.8);
}

ul.badges {
    padding-top: 16px;
}

.badges li {
    vertical-align: middle;
    margin-right: 8px;
}
