@charset "utf-8";
/* CSS Document */
.column1, .split2, .split2 > div, .split2 > div + div {
    background-color: #ccc;
}
.column2 > ul > li > span {
    display: inline-block;
}
.column2 > ul > li > img {
    float: left;
    border-right: 8px solid #82C330;
}
.column2 > ul >  li {
    position: relative;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}
/* LEFT */
ul.menu.piece > li:first-child {
    background-image: url("../../resources/temp/create.png/");
    border-left: 12px solid #424242;
    color: #82c330;
    font-weight: bold;
    padding-left: 46px;
}

ul.menu.piece > li:first-child:hover {
    background-color:#5B5B5B;
	border-left-color:#5B5B5B;
}

/* RIGHT */
.UnitTitle {
    color: #000;
    font-family: open_sansbold;
    font-size: 1.32em;
}
.UnitDescription {
    color: #000;
    font-family: open_sanssemibold;
    font-size: 1.08em;
}
.UnitData {
    padding: 12px 12px 12px 24px;
}
.UnitData > p {
    line-height: 24px;
}

.UnitData > p:nth-child(3), .UnitData > p:nth-child(4){
	color: #5B5B5B;
    font-family: open_sansbold;
    font-size: 0.72em;
	line-height: 16px; 
}

button {
    border: medium none;
    height: 32px;
    width: 32px;
}
.tick {
    background: url("../../resources/temp/tick.png");
}
span.unitEdits  {

	position: absolute;
	right: 3px;
	bottom: 3px;
}
span.unitEdits  > button {
	margin-top:50px;
}

/**** Session B ****/

/* LEFT */
.c432 {
    width: 47.7%;
}
.column1 > img {
    border-bottom: 8px solid #f96f52;
}
.column1.graphTop {
    background-color: #fff;
     box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}
.column1.graphTop > span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    top: 0;
    width: auto;
}
.leftColumn {
    float: left;
    line-height: 28px;
    padding-left: 16px;
}

.unitAuthor.Tile > span {
    color: #17b0e4;
}
.column2 {
	background-color: transparent;
/*    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    */
}
.rightColumn, .cloudIcons {
    float: right;
}
.rightColumn {
    line-height: 28px;
    padding-right: 16px;
    text-align: right;
}
.rightColumn > img {
    float: left;
    margin-left: -10px;
}
.UnitRating {
    color: #fbbd24;
    font-family: open_sansbold;
	font-size: 1.92em;
}
.UnitData2.Tile {
    font-size: 0.78em;
}
.cloudTags {
    clear: both;
    padding: 16px 16px 8px 8px;
}
.cloudIcons {
    margin-right: 23px;
}
.cloudIcons > li:nth-child(2n) {
    color: #434a54;
    font-size: 0.6em;
}
ul.cloudIcons > li:nth-child(2n+1) {
    margin-left: 14px;
}
ul.cloudTags > li, ul.cloudIcons > li {
    float: none;
    height: auto;
    margin: 0;
    width: auto;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.cloudTags > li, ul.cloudTags > li:nth-child(2n) {
    background-color: #1fbcff;
    font-size: 0.9em;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 8px 10px;
}
ul.cloudIcons > li:nth-child(2n) {
    float: none;
    height: auto;
    margin: 0;
    width: auto;
}
/* RIGHT */
.c544 {
    width: 48%;
	background-color: white;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);        
}
.column2.splitV li {
    background: none repeat scroll 0 0 #424242;
	height: 40px;
}
.column2.splitV li:last-child {
    margin-top: 0;
}

.rankings {
    margin: 16px;
}
.rankings > ul {
	overflow:auto;
	height: 463px;
}
.rankings > ul > li {
    margin-bottom: 8px;
}
.rankings li {
    background: none repeat scroll 0 0 #424242;
    font-size: 12pt;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    width: auto;
}
.rankings .ranking_star {
	font-size: 28pt;
	-ms-transform: scale(0.3, 0.3); /* IE 9 */
    -webkit-transform: scale(0.3, 0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3, 0.3);
	-ms-transform-origin: left top; /* IE 9 */
    -webkit-transform-origin: left top; /* Chrome, Safari, Opera */
    transform-origin: left top;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
	
	/*CD*/
	width: 332% !important;
	background-color:white;
	line-height: 100pt;
}

.rankings .ranking_star > #level {
   margin-left: -55%;
   margin-top: 25%;
}

.rankings > ul > li > ul > li:nth-child(1){
	width: 11%;
}

.rankings > ul > li > ul > li:nth-child(2){
	width: 25%;
}

.rankings > ul > li > ul > li:nth-child(3){
		width: 10%;
}

.rankings > ul > li > ul > li:nth-child(4){
		width: 40%;
}

.rankings > ul > li > ul > li:nth-child(5){
		width: 14%;
}
/*
.rankings > ul > li > ul > li:nth-child(6){
		width: 11%;
}

.rankings > ul > li > ul > li:nth-child(7){
		width: 10%;
}
*/
.rankings .job_description, .rankings .XP {
	font-size: 8pt !important;
}

.rankings .designation {
	font-size: 8pt !important;
}

.rankings .fullname, .rankings .numbering {
	font-size: 10pt !important;
}
.ranking_totals > div:nth-child(1) {
    background-color: #1774BA;
}

.ranking_totals > div:nth-child(2) {
    background-color: #17BA55;
}

.ranking_totals > div:nth-child(3) {
    background-color: #DB8B1B;
}

.ranking_totals > div > span:nth-child(1) {
    font-family: open_sansbold;
    font-size: 20pt;
    padding-top: 38px;
}

.ranking_totals > div > span:nth-child(3) {
    font-size: 9pt;
}

.job_description {
    color: #424242;
	background-color:white !important;
}
.column_title {
    background-color: #424242;
	border: 0px;
}


