@charset "utf-8";
/* CSS Document */
.column2, .column1, .split2 > div + div  {
    background-color: #CCC;
}
.split2 > div {
    background-color: #424242 ;
    color: #ffffff;
	height:auto;
}

.column2 > ul > li {
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}

.column2 > ul > li > span {
    display: inline-block;
}

.column2 > ul > li > img {
    float: left;
    border-right: 8px solid #F96F52;
}

.UnitTitle {
    color: #000;
    font-family: open_sansbold;
}

.UnitDescription {
    color: #000;
    font-family: open_sanssemibold;
}

.UnitDate {
    font-family: open_sanssemibold;
}

.UnitStatus {
    color: #bcbcbc;
}

.UnitData {
    padding: 12px 12px 12px 16px;
}


.UnitData > p {
    line-height: 24px;
}

ul.menu.piece > li:first-child {
    background-image : url("../../resources/temp/create.png/");
    color: #82C330;
    padding-left: 46px;
    border-left: 12px solid #424242;
    font-weight: bold;
	margin-bottom: 0;
}

ul.menu.piece > li:first-child:hover {
    background-color:#5B5B5B;
	border-left-color:#5B5B5B;
}