@charset "utf-8";

.column2 {
    background-color: #fff;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

.splitVinside > div + div {
    width: 740px;
}

.menu.submenu {
    margin-bottom: 16px;
}

.split2 > div {
	height:auto;
}

.split2 > div + div{
	height:auto;
}

.column1.split2 > div {
	margin-bottom: 0;
	background:#CCC;
}


.column_title {
    background-color: #424242;
	border: 0px;
}


.column_titles {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: grey;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}


.rankings {

}

.rankings ul {
}

.rankings li{
	background: none repeat scroll 0 0 #424242;
	font-size: 12pt;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    width: 95.7%;
}

.rankings li:nth-child(2n), .awards li:nth-child(2n), .achievements li:nth-child(2n) {
    margin-left: 0;
}

.rankings > ul > li {
    padding: 8px;
    background-color: #FFF;
}

.rankings > ul > li.selected, .rankings > ul > li.selected > ul > li:first-child, .rankings > ul > li.selected > ul > li:last-child {
	 background-color: #C3CFDD;
}


.rankings div{
    display: inline-block;
	vertical-align: top;
	width:auto;
}

.rankings img {
    height: 40px;
}

.rankings .ranking_star {
	font-size: 28pt;
	-ms-transform: scale(0.3, 0.3); /* IE 9 */
    -webkit-transform: scale(0.3, 0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3, 0.3);
	-ms-transform-origin: left top; /* IE 9 */
    -webkit-transform-origin: left top; /* Chrome, Safari, Opera */
    transform-origin: left top;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
     width: 311% !important;
}

.rankings .ranking_star > #level {
   margin-left: -55%;
   margin-top: 25%;
}

.rankings > ul > li > ul > li:nth-child(1){
	width: 6%;
}

.rankings > ul > li > ul > li:nth-child(2){
	width: 9%;
}

.rankings > ul > li > ul > li:nth-child(3){
		width: 15%;
}

.rankings > ul > li > ul > li:nth-child(4){
		width: 35%;
}

.rankings > ul > li > ul > li:nth-child(5){
		width: 0%;
    overflow: hidden;
}

.rankings > ul > li > ul > li:nth-child(6){
		width: 20%;
}

.rankings > ul > li > ul > li:nth-child(7){
		width: 15%;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.rankings .job_description, .rankings .XP {
	font-size: 8pt !important;
}

.rankings .designation {
	font-size: 8pt !important;
}

.rankings .fullname, .rankings .numbering {
	font-size: 10pt !important;
}

.rankings .numbering {
	background-color: white;
}

p.fullname_l {
    color: #17B0E4;
    font-family: open_sansbold;
}

p.designation_l {
    color: #FFA21A;
    font-family: open_sanssemibold;
}

p.score {
    display: inline-block;
}


.column2 > select {
    margin: 16px;
}

ul.badges {
    padding-top: 0px;
}

ul.badges li {
    list-style: outside none none;
    height: auto;
    display: inline-block;
    width: auto;
    background: none repeat scroll 0% 0% transparent;
    float: none;
    margin: 0px;
    margin-right: 8px;
    vertical-align: middle;
}

div.card {
    vertical-align: top;
    padding: 10px;
    background-color: #424242;
}

div.card p {
    display: inline-block;
}

span.leftcolumn {
    width: 180px;
    display: inline-block;
    vertical-align: top;
}

span.rightcolumn {
    display: inline-block;
    width: 176px;
}

.followrs {
    color: #1FBCFF;
    font-family: open_sanssemibold;
/*    position: relative;*/
/*    bottom: 0px;*/
    width: 100%;
    text-align: center;    
}

.column3 {
    background-color: #515151;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

span.bottomline {
    color: #fff;
    display: block;
    padding:8px 8px 0px;
}

.column3 .ranking_star {
    transform: scale(0.8, 0.8);
    /*transform-origin: left top 0px;*/
    color: #FFF;
    font-size: 38pt;
    font-weight: bold;
    line-height: 60pt;
    padding-top: 14px;
}

.column3 > button {
    background-color: #17B0E4;
    color: #fff;
    border: none;
    padding: 8px;
    float: right;
    margin-right: 8px;
    font-family: open_sansbold;
}

span.r1 {
    color: #FFCF17;
    font-family: open_sansbold;
}

span.r2 {
    color: #fff;
    font-family: open_sanssemibold;
    margin-left: 4px;
}

p.titleL1 {
    font-family: open_sansbold;
    margin-bottom: 6px;
}

p.titleL1 > span {
    font-family: open_sanssemibold;
    font-size: 0.78em;
}
