@charset "utf-8";

.column2 {
    background-color: #fff;
	/*background-color: transparent;*/
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}
.ranking_data {
	background-color: transparent;
  box-shadow: unset;
    -webkit-box-shadow : unset;
}

/* People A - Right Column */
.column2 > ul > li > img {
    float: left;
}
.column2 > ul > li {
	background-color: #424242;
        box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
}
.column2 > ul > li > span {
    display: inline-block;
}
.peopleData {
    padding: 2px 0 0 16px;
}
.peopleData > p {
    line-height: 22px;
}
.peopleName{
	color: #17B0E4;
    font-family: open_sansbold;
	
}
.peoplelevel{
	color: #FFA21A;
    font-family: open_sanssemibold;
	margin-left: 10px;
}
.peopleText {
    color: #FFF;
    font-family: open_sansbold;
}
.peopleFollow {
    color: #1FBCFF;
    font-family: open_sansbold;
}
.ranking_star_span {
    display: inline !important;
    position: relative;
}
.ranking_star {
	bottom: 78px;
    font-size: 28pt;
    height: auto !important;
    left: 165px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    position: relative;
    transform: scale(0.6, 0.6);
    transform-origin: left top 0;
    width: 29% !important;
}
/* Menu*/
.splitVinside > div + div {
    width: 740px;
}
.ranking_totals {
    padding-left: 25px;
	/*margin-top: 25px;*/
	
	margin-bottom: 16px;
	background-color: #fff;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);        
}
.ranking_totals > div {
    background-color: yellow;
    border: medium none;
    border-radius: 120px;
    color: white;
    display: inline-block;
    height: 75px;
    line-height: 18px;
    padding-top: 35px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
	
	margin: 15px 35px;
}

.ranking_totals > div:nth-child(1) {
    background-color: #1774ba;
}
.ranking_totals > div:nth-child(2) {
    background-color: #17ba55;
}
.ranking_totals > div:nth-child(3) {
    background-color: #db8b1b;
}
.ranking_totals > div:nth-child(4) {
    background-color: #9B47BA;
}

.ranking_totals > div > span:nth-child(1) {
    font-family: open_sansbold;
    font-size: 20pt;
    padding-top: 38px;
}
.ranking_totals > div > span:nth-child(3) {
    font-size: 9pt;
}


.menu.submenu {
    margin-bottom: 16px;
}

.split2 > div {
	height:auto;
}

.split2 > div + div{
	height:auto;
}

.column1.split2 > div {
	margin-bottom: 0;
	background:#CCC;
}

.rankings {
    margin: 16px;
}
.rankings > ul {
	overflow:auto;
	height: 463px;
}
.rankings > ul > li {
    margin-bottom: 8px;
	width:100%;
}
.rankings li {
    background: none repeat scroll 0 0 #424242;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    width: auto;
}
.rankings .ranking_star {
	font-size: 28pt;
	-ms-transform: scale(0.3, 0.3); /* IE 9 */
    -webkit-transform: scale(0.3, 0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3, 0.3);
	-ms-transform-origin: left top; /* IE 9 */
    -webkit-transform-origin: left top; /* Chrome, Safari, Opera */
    transform-origin: left top;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
	
	/*CD*/
	width: 332% !important;
	background-color:white;
	line-height: 100pt;
}

.rankings .ranking_star > #level {
   margin-left: -55%;
   margin-top: 25%;
}

.rankings > ul > li {
	margin-left: 0;	
}

.rankings > ul > li > ul {
	
}

.rankings > ul > li > ul > li:nth-child(1){
	width: 6%;
}

.rankings > ul > li > ul > li:nth-child(2){
	padding-left: 16px;
	width: 18%;
	font-size:1em;
}

.rankings > ul > li > ul > li:nth-child(3){
	padding-left: 16px;
    width: 20%;
	font-family:open_sanssemibold;
}

.rankings > ul > li > ul > li:nth-child(4){
	padding-left: 16px;
		width: 20%;
		font-family:open_sanssemibold;
}

.rankings > ul > li > ul > li:nth-child(5){
	padding-left: 16px;
		width: 10%;
		font-family:open_sanssemibold;
}

.rankings > ul > li > ul > li:nth-child(6){
	padding-left: 16px;
		width: 7%;
		font-family:open_sanssemibold;
}

.rankings > ul > li > ul > li:nth-child(7){
	background-color: WHITE;
    font-family: open_sanssemibold;
    width: 7.85%;
}
/*
.rankings > ul > li > ul > li:nth-child(6){
		width: 11%;
}

.rankings > ul > li > ul > li:nth-child(7){
		width: 10%;
}
*/
.rankings .job_description, .rankings .XP {
	
}

.rankings .designation {

}

.rankings li:nth-child(2n) {
    margin-left: 0;
}

.rankings .fullname, .rankings .numbering {
	
}
.ranking_totals > div:nth-child(1) {
    background-color: #1774BA;
}

.ranking_totals > div:nth-child(2) {
    background-color: #17BA55;
}

.ranking_totals > div:nth-child(3) {
    background-color: #DB8B1B;
}

.ranking_totals > div > span:nth-child(1) {
    font-family: open_sansbold;
    font-size: 20pt;
    padding-top: 38px;
}

.ranking_totals > div > span:nth-child(3) {
    font-size: 9pt;
}

.job_description {
    color: #424242;
	background-color:white !important;
}
.column_title {
    background-color: #424242;
	border: 0px;
}

.rankings.column_titles > ul {
	overflow:none;
	height: auto;
}

.rankings.column_titles li {
    background: none;
	padding-bottom: 8px;
	height: 16px;
    line-height: 16px;
}

.column_titles {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: grey;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}

.rankings.column_titles > ul > li > ul > li:nth-child(2){	
	 font-family: open_sanssemibold;
	font-size:0,9em;
}

.rankings.column_titles > ul > li > ul > li:nth-child(1){	
	width: 4%;
}

.rankings.column_titles > ul > li > ul > li:nth-child(7){	
	 width: 9.85%;
}

.rankings.column_titles > ul > li > ul > li > img {
    vertical-align: middle;
}

.rankings.column_titles li.selected {
    color: #F96F52;
}
