@charset "utf-8";
/* CSS Document */
button {
    border: medium none;
    height: 64px;
    width: 56px;
    background: transparent;
    background-size: 56px 64px;
}

.full {
    background-image: url("../../resources/temp/fulls_bw.png");
}

.info {
    background-image: url("../../resources/temp/info_bw.png");
}

.edit {
    background-image: url("../../resources/temp/edit_bw.png");
}


.rest {
    margin-top: 112px;
    background-color: #fff;
}

.rest  > img{
    margin-left: 24px;
}
.rest > ol > li {
    background-image: none; 
    /*width: auto;*/
    height: auto;
    width: 361px;
/*    margin: 0;*/
    font-family: open_sanssemibold;
}

.rest > ol > li:nth-child(2n){
    margin: 0;
}


ol.circles {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 22.5em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.circles > li{
    position: relative;
    /*margin-bottom: 20px;*/
    padding-left: 0.5em;
    min-height: 2.8em;
}
ol.circles > li:before {
    position: absolute;
    top: 0;
    left: -1.33em;
    width: 1.2em;
    height: 1.2em;
     
    font-size: 1.32em;
    line-height: 1.2;
    text-align: center;
    color: #f5f5f5;
 
    border: 0px solid #c5c5c5;
    border-radius: 50%;
    background-color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}


.column1.graphTop {
    background: none repeat scroll 0% 0% transparent;
    background-color: white;
    height: auto;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
    position: relative;
    overflow: hidden;    
}

.column1.graphTop:before {
    border-color: #CCC #888 #888 #CCC;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);    
    content: "";
    position: absolute;
    right: 0;
    width: 0;
}

.column1.graphTop > div:first-child {
    background-color: #424242;
    /*position: relative;*/
    /*height:7%;*/
    display: block;
    padding-bottom: 5px;
}

.column1.graphTop > div > span {
    /*margin-left: 340px;*/
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.column1.graphTop > div > span + span {
    float: right;
    margin-right: 21px;
}

.column1.graphTop > div > img {
    /*float: left;*/
    margin: 0px 16px 0px 16px;
    float: left;
}

.column1.graphTop > div > p {
   display: inline-block
}

.title {
    color: #FFF;
    font-family: open_sanssemibold;
}
.desri {
    color: #FFCF17;
    font-family: open_sansregular;
}

.column1.graphTop > div +span {
    float: right;
    top: 10px;
    right: -200px;
    width: 24%;
    height: auto;
    margin-right: 32px;
    background-color: #424242;
    color: #fff;
    padding: 10px;
    font-family: open_sansregular;
}