@charset "utf-8";
/* CSS Document */
button {
    border: medium none;
    height: 64px;
    width: 56px;
    background: transparent;
    background-size: 56px 64px;
}

.full {
    background-image: url("../../resources/temp/fulls_bw.png");
}

.info {
    background-image: url("../../resources/temp/info_bw.png");
}

.edit {
    background-image: url("../../resources/temp/edit_bw.png");
}

.rest {
    background-image: url("../../resources/temp/unitsd.png");
    background-repeat: no-repeat;
    height: 480px;
    text-align: right;
    vertical-align: bottom;
    position: relative;
}

.rest  > img{
    position: absolute;
    top: 244px;
    left: 34px;	
}

.rest > ul > li {
    background-image: none; 
    width: auto;
    margin: 0;
    float: none;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    width: auto;
    height: 47px;
    padding: 7px;
    vertical-align: top;
}

.rest > ul > li:nth-child(2n){
    margin: 0;
     line-height: 45px;
}

.cloudIcons {
    position: absolute;
    bottom: 8px;
    font-family: open_sansregular;
}

ul.cloudIcons:nth-child(1) {
    right: 300px;
}

ul.cloudIcons:nth-child(2) {
    right: 140px;
}

.column1.graphTop {
    background: none repeat scroll 0% 0% transparent;
    background-color: white;
    height: auto;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    position: relative;
    overflow: hidden;    
}

.column1.graphTop:before {
    border-color: #CCC #888 #888 #CCC;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 16px 16px 1px 18px rgba(0, 0, 0, 0.3);    
    content: "";
    position: absolute;
    right: 0;
    width: 0;
}

.column1.graphTop > div {
    background-color: #424242;
    /*position: relative;*/
    /*height:7%;*/
    display: block;
}

.column1.graphTop > div:first-child {
     padding: 0px;
}

.column1.graphTop > div > span {
    display: inline-block;
    vertical-align: top;
}
.column1.graphTop > div > span {
   padding-top: 5px;
}

.column1.graphTop > div > span + span {
    float: right;
    margin-right: 21px;
}

.column1.graphTop > span + span {
    float: right;
}

.column1.graphTop > div > img {
    /*float: left;*/
    margin: 0px 16px 0px 16px;
}

/*.column1.graphTop > div > p {
   display: inline-block
}*/

.title {
    color: #FFF;
    font-family: open_sanssemibold;
}
.desri {
    color: #FFCF17;
    font-family: open_sansregular;
}

.column1.graphTop > div +span {
    float: right;
    top: 10px;
    width: 24%;
    height: auto;
    margin-right: 32px;
    background-color: #424242;
    color: #fff;
    padding: 10px;
    z-index: 1;
}