@charset "utf-8";
/* CSS Document */

.column1.graphTop  {
	background-color: #fff;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);	
}

.content li {
	background:none;
}

.column1.graphTop > span {
	top:0px;
	width:auto;
	height:auto;
	background:none;
	
}

.column1.graphTop > span:last-child {
	display: inline-block;
	line-height: 22px;
	margin-left: 16px;
	top:-10px;
}

.column2 {
	background-color:transparent;
}

.column2.splitV li {
	background:white;
}

.column2.splitV.c544 > ul > li  > img {
	float: left;
	padding: 8px 32px;
	background-color:#FFF;
	margin-right:16px;
}

.column2.splitV.c544 > ul > li {
	background-color: #424242;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);	
}

.column2.splitV.c544 > ul > li:nth-last-child(2) {
	line-height:64px;
}

.column2.splitV.c544 > ul > li:last-child {
	background-color:#FFF;
	
}

.UnitTitle.Tile {
    color: #000;
    font-family: open_sansbold;
}

.UnitDescription.Tile {
    color: #000;
    font-family: open_sanssemibold;
}

.UnitRating.Tile {
    color: #fbbd24;
    font-family: open_sansbold;
    font-size: 1.92em;
}

.unitAuthor.Tile {
	font-family: open_sansregular;
}

.unitAuthor.Tile > span {
	font-family : open_sansbold;
}

p.title {
	font-family:open_sansregular;
	color:#FFF;	
}

p.description {
	font-family:open_sansregular;
	color:#FFCF17;
}

.column1 > img {
    border-bottom: 8px solid #f96f52 ;
}

p.descri {
	padding: 32px;
}

.rightColumn > img {
	float: left;
	margin-left: -22px;
}

.cloudTags {
    clear: both;
    padding: 16px 16px 8px 8px;
}

ul.cloudTags > li, ul.cloudIcons > li {
	float:none;
	margin:0;
	height:auto;
	width:auto;
}

ul.cloudTags > li:nth-child(2n), ul.cloudIcons > li:nth-child(2n) {
	float:none;
	margin:0;
	height:auto;
	width:auto;	
}

ul.cloudIcons > li:nth-child(2n+1) {
    margin-left: 14px;
}

ul.cloudTags > li, ul.cloudTags > li:nth-child(2n) {
    background-color: #1FBCFF;
    margin-left: 8px;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.leftColumn {
	float:left;
	padding-left: 16px;
	line-height: 28px;	
}

.rightColumn {
	padding-right:16px;
	text-align:right;
	line-height: 28px;	
}

.rightColumn, .cloudIcons {
	float:right;
}

.cloudIcons {
	margin-right:40px;
}

.cloudIcons > li:nth-child(2n){   
    font-size: 1em;
    color: #434A54;
}

.unitAuthor.Tile > span {
	color:#17B0E4;
}

.UnitRating_p {
	font-family: open_sanssemibold;
	color: #424242;
}