@charset "utf-8";
/* CSS Document */
.column3, .column1, .split2 > div + div  {
    background-color: #CCC;
}
.split2 > div {
    background-color: #424242 ;
    color: #ffffff;
}

.column3 > ul > li > span {
    display: inline-block;
}

.column3 > ul > li > img {
    float: left;
    border-right: 8px solid #f96f52 ;
}

.column2 > img {
    border-bottom: 8px solid #f96f52 ;
}

.column3 > ul >  li {
    position: relative;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

.UnitTitle {
    color: #000;
    font-family: open_sansbold;
}

.UnitDescription {
    color: #000;
    font-family: open_sanssemibold;
}

.UnitRating {
    color: #fbbd24;
    font-family: open_sansbold;
}

.UnitTitle.Tile {
    color: #000;
    font-family: open_sansbold;
}

.UnitDescription.Tile {
    color: #000;
    font-family: open_sanssemibold;
}

.UnitRating.Tile {
    color: #fbbd24;
    font-family: open_sansbold;
}

.unitAuthor.Tile {
	font-family: open_sansregular;
}

.unitAuthor.Tile > span {
	font-family : open_sansbold;
}


.UnitStatus {
    color: #bcbcbc;
}

.UnitData {
    padding: 0;
}

.UnitData > p {
    line-height: 28px;
}

.column3 span.UnitData {
    padding: 8px;
}


.rightColumn > img {
	float: left;
	margin-left: -22px;
}

.Ribbon {
    background-color: #f48570;
    color: white;
    left: 0;
    padding-left: 8px;
    position: absolute;
    width: 88px;
}


button {
    border: medium none;
    height: 32px;
    width: 32px;
}

span.unitEdits  {
    float: right;
    width: 32px;
	padding : 8px 16px 0 0;
}

span.unitEdits  > button {
	margin-bottom:16px;
}

ul.menu > li {
	border-left:12px solid #424242;
	padding-left:8px;
}

ul.menu > li.selected {
	border-left-color:#F96F52;
	background-color:#5B5B5B;
}

.cloudTags {
    clear: both;
    padding: 16px 16px 8px 8px;
}

ul.cloudTags > li, ul.cloudIcons > li {
	float:none;
	margin:0;
	height:auto;
	width:auto;
}

ul.cloudTags > li:nth-child(2n), ul.cloudIcons > li:nth-child(2n) {
	float:none;
	margin:0;
	height:auto;
	width:auto;	
}

ul.cloudIcons > li:nth-child(2n+1) {
    margin-left: 14px;
}

ul.cloudTags > li, ul.cloudTags > li:nth-child(2n) {
    background-color: #1FBCFF;
    margin-left: 8px;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.leftColumn {
	float:left;
	padding-left: 16px;
	line-height: 28px;	
}

.rightColumn {
	padding-right:16px;
	text-align:right;
	line-height: 28px;	
}

.rightColumn, .cloudIcons {
	float:right;
}

.cloudIcons {
	margin-right:40px;
}

.cloudIcons > li:nth-child(2n){   
    font-size: 0.6em;
    color: #434A54;
}

.column2 {
	background-color:#FFF;
    box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);
    -webkit-box-shadow: 3px 3px 7px 4px rgb(136, 136, 136);    
}

.unitAuthor.Tile > span {
	color:#17B0E4;
}